<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
          content="width=device-width, 
                         initial-scale=1.0">
    <title>Instagram Dashboard</title>
    <link rel="stylesheet" 
          href="/static/css/style.css">
</head>

<body>
    <header>
        <h1 class="heading">Instagram Account Manager</h1>
        <h3 class="title">Login or Signup</h3>
    </header>

    <!-- container div -->
    <div class="container">

        <!-- upper button section to select
             the login or signup form -->
        <div class="slider"></div>
        <div class="btn">
            <button class="login">Login</button>
            <button class="signup">Signup</button>
        </div>

        <!-- Form section that contains the
             login and the signup form -->
        <div class="form-section">

            <!-- login form -->
            <div class="login-box">
                <input type="username" 
                       class="username ele" 
                       placeholder="Username">
                <input type="password"
                       class="password ele" 
                       placeholder="Password">
                <button class="clkbtn">Login</button>
            </div>

            <!-- signup form -->
            <div class="signup-box">
                <input type="username" 
                       class="username ele" 
                       placeholder="Username">
                <input type="password" 
                       class="password ele" 
                       placeholder="Password">
                <input type="password" 
                       class="password ele" 
                       placeholder="Confirm password">
                <button class="clkbtn">Signup</button>
            </div>
        </div>
    </div>
    <script src="/static/js/index.js"></script>
</body>
</html>