/* Общий стиль для тела */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* Контейнер для содержимого */
.container {
    max-width: 100%;
    padding: 20px;
}

/* Заголовки */
h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
    color: #444;
}

h3 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #555;
}

/* Формы */
.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container .form-control {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#addAccountForm .col-auto {
    width: 100%;
}

.form-container button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #45a049;
}

@media (min-width: 768px) {
    .btn {
        width: auto;
    }
}

/* Таблицы */
.table {
    width: 100%;
    font-size: 0.875rem;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    text-align: center;
    padding: 10px;
    word-wrap: break-word;
    border: 1px solid #ddd;
}

.table th {
    background-color: #f4f4f4;
}

.table td {
    background-color: #fff;
}

/* Улучшенные отступы */
.mt-4, .mb-4 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.mt-5 {
    margin-top: 50px !important;
}

/* Кнопки */
.btn {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 14px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 4px;
}

.btn:hover {
    background-color: #45a049;
}

.btn-danger {
    background-color: #f44336;
}

.btn-danger:hover {
    background-color: #d32f2f;
}

/* Адаптация мобильной версии */
@media (max-width: 768px) {
    .btn {
        width: 100%;
    }
}
